
<div class="jumbotron">
   <div class="container">
    <h1>Proyecto Tipo Pinterest</h1>
    <h2>Welcome</h2>
    <p>...</p>
    <p><a class="btn btn-default" style="font-size:30px;" href="#" role="button">Más
     <span class="glyphicon glyphicon-share-alt" style="color:orange; font-size:40px;"> </span> </a></p>
   </div>
</div>


<div class="container">


  <div class="row">
    <div class="col-md-3">
      <div class="page-header">
      <h3 style="display:inline">3 columnas</h3>
      <span class="label label-success">New</span>
      </div>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia dignissimos dolorum illo, facere, cupiditate nesciunt. Nihil, consequuntur. Fuga nulla necessitatibus ab iste magnam dignissimos neque expedita similique, quos consequuntur!</p>
    </div>



    <div class="col-md-4">
      <div class="page-header">
      <h3>4 columnas</h3>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia dignissimos dolorum illo, facere, cupiditate nesciunt. Nihil, consequuntur. Fuga nulla necessitatibus ab iste magnam dignissimos neque expedita similique, quos consequuntur!</p>
    </div>



    <div class="col-md-2">
      <div class="page-header">
      <h3>2 columnas</h3>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia dignissimos dolorum illo, facere, cupiditate nesciunt. Nihil, consequuntur. Fuga nulla necessitatibus ab iste magnam dignissimos neque expedita similique, quos consequuntur!</p>
    </div>

    <div class="col-md-3">
      <div class="page-header">
      <h3>1 columnas</h3>
      </div>
      <a href="">
      <img src="">
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
      </ul>
      <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
      </ol>
    </div>
  </div>
</div>
