// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid {

  margin: 0 auto;
}
.grid-item {

  width: 320px;
  border-style: dotted;
  border-color: #D8D8D8;
  margin: 20px;
}
.grid-item img {
  margin-top: 10px;
  width: 100%;
}
